################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Git/CopilotIndices/17.14.794.21998
/.vs/Git/FileContentIndex/87b58692-f535-4905-a39e-d5a0d5e51d89.vsidx
/.vs/Git/FileContentIndex
/.vs/Git/FileContentIndex/17bc007f-51a3-4068-a95c-b679f2858a4d.vsidx
/.vs/Git/v17
/.vs/Git/v17/.wsuo
/.vs/Git/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
